.header,
.drawer-navbar {
    z-index: 999;
    .search {
        width: 300px;
        border-radius: 24px;
        height: 48px !important;
        .MuiOutlinedInput-root {
            height: 100%;
            padding: 0;
            input {
                padding: 0 10px 0 0;
            }
        }
        .MuiOutlinedInput-notchedOutline {
            border: none;
        }
    }
    .menu {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        li {
            padding: 0 10px;
            cursor: pointer;
            position: relative;
            z-index: 100;
            white-space: nowrap;
            &::before {
                position: absolute;
                bottom: -8px;
                left: 0;
                right: 0;
                content: "";
                margin-left: auto;
                margin-right: auto;
                width: 24px;
                height: 4px;
                transform: scaleX(0);
                transform-origin: bottom center;
                transition: transform 0.25s ease-out;
                border-radius: 2px;
            }
            &:hover {
                font-weight: 500;
                &::before {
                    transform: scaleX(1);
                }
            }
        }
    }
    .menu-mobile {
        margin-top: 20px;
        padding-left: 10px;
        li {
            padding: 5px 15px;
        }
    }
    .avatar {
        background-image: url("../public/images/backgroundStory.png");
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        align-items: center;
        cursor: pointer;
        img {
            // margin-top: 2px !important;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}
.btn-custom-kol {
    height: 48px;
    border-radius: 24px !important;
    padding: 0 20px !important;
    border: 1px solid $main !important;
    text-transform: unset !important;
}

.drawer-navbar .MuiDrawer-paper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-right {
    // position: fixed;
    // right: 0;
    .list-kols {
        padding: 16px 0;
        box-shadow: 0px 2px 16px rgba(158, 158, 158, 0.16);
        border-radius: 16px;
        margin-bottom: 32px;
        // width: max-content;
        .item-kol {
            display: flex;
            align-items: center;
            line-height: 20px;
            margin: 8px 0;
            padding-left: 16px;
            padding-right: 16px;
            cursor: pointer;
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            &:hover {
                background-color: #f8f8f8;
            }
            .avatar {
                background-image: url("../public/images/backgroundStory.png");
                width: 56px;
                min-width: 56px;
                height: 56px;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .info {
                display: flex;
                flex-direction: column;
                .username,
                .address {
                    font-size: 14px;
                }
            }
        }
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 32px;
    right: 0;
    text-align: center;
    width: max-content;
    z-index: 999;
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.nav-pre {
    transform: rotate(180deg);
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    &::after {
        background: linear-gradient(270deg, #ffffff 53.96%, rgba(255, 255, 255, 0) 104.65%);
        height: 100%;
        width: 30px;
        content: "";
        pointer-events: none;
        opacity: 0.8;
        right: 20px;
        position: absolute;
    }
}
.unvisible {
    &::before,
    &::after {
        opacity: 0 !important;
    }
}
.nav-next {
    &::before {
        background: linear-gradient(270deg, #ffffff 53.96%, rgba(255, 255, 255, 0) 104.65%);
        height: 100%;
        width: 30px;
        content: "";
        pointer-events: none;
        opacity: 0.8;
        right: 20px;
        position: absolute;
    }
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 1;
}

.react-horizontal-scrolling-menu--wrapper {
    display: flex;
    width: 100%;
}

.cardKols {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .card {
        border-radius: 16px;
        max-height: 360px;
        position: relative;
        overflow: hidden;
        z-index: 10;
        .avatar {
            span {
                height: 100% !important;
                width: 100% !important;
            }
        }
        img {
            position: relative;
            display: block;
        }
        .profile {
            width: 100%;
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
                opacity: 0;
                -webkit-transform: translate3d(0, 50%, 0);
                transform: translate3d(0, 50%, 0);
                overflow: hidden;
            }
            .profile-main {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                -webkit-transition: -webkit-transform 0.35s, color 0.35s;
                transition: transform 0.35s, color 0.35s;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
                padding: 16px;
                .profile-detail {
                    opacity: 0;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    .cate {
                        padding: 0 16px;
                        color: #fff;
                        display: flex;
                        margin: 20px 0;
                        div {
                            &:last-of-type {
                                margin-right: 0;
                            }
                            padding: 10px;
                            font-size: 12px;
                            border-radius: 8px;
                            border: 1px solid #fff;
                            width: max-content;
                            margin-right: 5px;
                        }
                    }
                    .description {
                        padding: 0 16px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4; /* number of lines to show */
                        line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                }
            }
            &::before {
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
            }
        }
        &:not(:hover) {
            label {
                text-shadow: 1px 1px 2px #000000;
            }
            span {
                text-shadow: 1px 1px 2px #000000;
                svg {
                    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
                }
            }
        }
        &:hover {
            .profile {
                height: 100%;
                &::before {
                    opacity: 0.88;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }
                .profile-main {
                    -webkit-transform: translate3d(0, -280%, 0);
                    transform: translate3d(0, -280%, 0);
                    .profile-detail {
                        opacity: 1;
                    }
                }
            }
            span {
                border-radius: 16px;
            }
        }
    }
    .avatar {
        border-radius: 16px;
        height: 100%;
    }
    .profile {
        padding: 16px;
        position: absolute;
        bottom: 0;
        label {
            font-size: 24px;
            font-weight: 500;
            padding-bottom: 5px;
        }
        span {
            opacity: 0.8;
            font-size: 14px;
        }
    }
}
.nolabel {
    .MuiOutlinedInput-notchedOutline {
        top: 0;
    }
}
.text-field {
    border-radius: 24px;
    height: 48px !important;
    width: 100%;
    .MuiOutlinedInput-root {
        height: 100%;
        padding: 0;
        input {
            padding: 0 10px;
        }
    }
    // .MuiInputLabel-root {
    //     top: -2px;
    // }
    .MuiOutlinedInput-notchedOutline {
        border-radius: 24px;
        border-color: transparent !important;
        border-width: 1px !important;
        .css-nnbavb {
            float: left !important;
        }
    }
}

.other-sign {
    width: 400px;
    padding: 32px 0;
    position: relative;
    margin: auto;
    &::before,
    &::after {
        content: "";
        height: 1px;
        position: absolute;
        width: calc(50% - 50px);
        top: 50%;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}

form {
    width: 100%;
}
